Repository elastic/elasticsearch-ruby, pull requests merged in 2021-03, with the labels that each got.

#1234 [DOCS] Expand docs on API testing
  api-spec-testing/README.md
  elasticsearch-api/README.md
Labels: 7.x, backport, documentation

#1232 [XPACK] Update skipped tests
  elasticsearch-xpack/spec/skipped_tests.yml
Labels: 8.0, test-runner

#1240 [CI] Refactors GitHub Actions
  .github/workflows/7.x.yml
Labels: CI, backport

#1241 [CI] Test Runner - Use reassign: true for put_trained_model_alias in test runner
  api-spec-testing/test_file/action.rb
Labels: 7.x, test-runner

#1242 [CI] Test Runner - Use reassign: true for put_trained_model_alias in …
  api-spec-testing/test_file/action.rb
Labels: 8.0, CI, test-runner

#1244 [DOCS] Update out of date license headers
  elasticsearch/lib/elasticsearch-ruby.rb
  elasticsearch/lib/elasticsearch.rb
  elasticsearch/lib/elasticsearch/version.rb
  elasticsearch/test/integration/client_integration_test.rb
  elasticsearch/test/test_helper.rb
  elasticsearch/test/unit/wrapper_gem_test.rb
Labels: 7.x, 8.0, documentation

#1243 [EXT] Removes extensions
  elasticsearch-extensions/Gemfile
  elasticsearch-extensions/LICENSE.txt
  elasticsearch-extensions/README.md
  elasticsearch-extensions/Rakefile
  elasticsearch-extensions/elasticsearch-extensions.gemspec
  elasticsearch-extensions/lib/elasticsearch-extensions.rb
  elasticsearch-extensions/lib/elasticsearch/extensions.rb
  elasticsearch-extensions/lib/elasticsearch/extensions/ansi.rb
  elasticsearch-extensions/lib/elasticsearch/extensions/ansi/actions.rb
  elasticsearch-extensions/lib/elasticsearch/extensions/ansi/helpers.rb
  elasticsearch-extensions/lib/elasticsearch/extensions/ansi/response.rb
  elasticsearch-extensions/lib/elasticsearch/extensions/backup.rb
  elasticsearch-extensions/lib/elasticsearch/extensions/test/cluster.rb
  elasticsearch-extensions/lib/elasticsearch/extensions/test/cluster/tasks.rb
  elasticsearch-extensions/lib/elasticsearch/extensions/test/profiling.rb
  elasticsearch-extensions/lib/elasticsearch/extensions/test/startup_shutdown.rb
  elasticsearch-extensions/lib/elasticsearch/extensions/version.rb
  elasticsearch-extensions/test/ansi/unit/ansi_test.rb
  elasticsearch-extensions/test/backup/unit/backup_test.rb
  elasticsearch-extensions/test/test/cluster/integration/cluster_test.rb
  elasticsearch-extensions/test/test/cluster/unit/cluster_test.rb
  elasticsearch-extensions/test/test_helper.rb
Labels: elasticsearch-extensions

#1236 [DOCS] Adds Integrations section to Ruby book
  docs/index.asciidoc
  docs/integrations.asciidoc
  docs/model.asciidoc
  docs/persistence.asciidoc
  docs/rails.asciidoc
  docs/transport.asciidoc
Labels: 7.x, 8.0, documentation

#1245 [7.x][DOCS] Adds Integrations section to Ruby book
  docs/index.asciidoc
  docs/integrations.asciidoc
  docs/model.asciidoc
  docs/persistence.asciidoc
  docs/rails.asciidoc
  docs/transport.asciidoc
Labels: 7.x, backport, documentation

#1247 [API] Adds summary parameter to get_pipeline
  elasticsearch-api/lib/elasticsearch/api/actions/ingest/get_pipeline.rb
Labels: elasticsearch-api

#1248 [API] Adds summary parameter to get_pipeline
  elasticsearch-api/lib/elasticsearch/api/actions/ingest/get_pipeline.rb
Labels: 8.0, elasticsearch-api

#1250 7.x update
  elasticsearch-api/lib/elasticsearch/api.rb
  elasticsearch-api/lib/elasticsearch/api/actions/features/get_features.rb
  elasticsearch-api/lib/elasticsearch/api/actions/features/params_registry.rb
  elasticsearch-api/lib/elasticsearch/api/namespace/features.rb
  elasticsearch-api/spec/elasticsearch/api/actions/features/get_features_spec.rb
Labels: 7.x, elasticsearch-api

#1252 [XPACK] Updates a few endpoints documentations and removes type from …
  elasticsearch-xpack/lib/elasticsearch/xpack/api/actions/async_search/submit.rb
  elasticsearch-xpack/lib/elasticsearch/xpack/api/actions/graph/explore.rb
  elasticsearch-xpack/lib/elasticsearch/xpack/api/actions/info.rb
  elasticsearch-xpack/lib/elasticsearch/xpack/api/actions/license/get.rb
Labels: 7.x, elasticsearch-api

#1253 [CI] Test Runner - Updates wipe cluster
  api-spec-testing/test_file.rb
Labels: 8.0, CI, test-runner

#1254 [DOCS] Release notes for 7.12.0
  CHANGELOG.md
  docs/release_notes/712.asciidoc
  docs/release_notes/index.asciidoc
Labels: documentation

#1255 [DOCS] Release notes for 7.12.0
  CHANGELOG.md
  docs/release_notes/712.asciidoc
  docs/release_notes/index.asciidoc
Labels: documentation

#1256 [DOCS] Release notes for 7.12.0
  CHANGELOG.md
  docs/release_notes/712.asciidoc
  docs/release_notes/index.asciidoc
Labels: documentation
