Repository elastic/elasticsearch-ruby, pull requests merged in 2021-04, with the labels that each got.

#1265 Update rest tests 7.x
  .ci/run-elasticsearch.sh
  .ci/run-repository.sh
  README.md
  Rakefile
  elasticsearch-api/README.md
  elasticsearch-api/Rakefile
  elasticsearch-api/spec/elasticsearch/api/rest_api_yaml_spec.rb
  elasticsearch-api/spec/rest_yaml_tests_helper.rb
  elasticsearch-xpack/spec/rest_yaml_tests_helper.rb
  elasticsearch-xpack/spec/xpack/rest_api_yaml_spec.rb
  rake_tasks/test_tasks.rake
Labels: 7.x, CI, backport, test-runner

#1266 [API] Generator: Update code generation for merged specs
  elasticsearch-api/utils/Gemfile
  elasticsearch-api/utils/thor/generate_source.rb
  elasticsearch-api/utils/thor/generator/files_helper.rb
Labels: elasticsearch-api

#1272 [CI] Test Runner: Download latest test artifact when specific build not available
  rake_tasks/test_tasks.rake
Labels: 8.0, test-runner

#1273 [CI] Test Runner: Download latest test artifact when specific build is not available
  rake_tasks/test_tasks.rake
Labels: 7.x, backport

#1277 [DOCS] Adds examples section to Ruby book
  docs/examples.asciidoc
  docs/index.asciidoc
Labels: 7.x, 8.0, documentation

#1278 [7.x] [DOCS] Adds examples section to Ruby book
  docs/examples.asciidoc
  docs/index.asciidoc
Labels: 7.x, backport, documentation

#1280 [XPACK] Adds searchable_snapshots/cache_stats endpoint, specs for sea…
  elasticsearch-xpack/lib/elasticsearch/xpack/api/actions/searchable_snapshots/cache_stats.rb
  elasticsearch-xpack/spec/xpack/searchable_snapshots/cache_stats_spec.rb
  elasticsearch-xpack/spec/xpack/searchable_snapshots/clear_cache_spec.rb
  elasticsearch-xpack/spec/xpack/searchable_snapshots/mount_spec.rb
  elasticsearch-xpack/spec/xpack/searchable_snapshots/repository_stats_spec.rb
  elasticsearch-xpack/spec/xpack/searchable_snapshots/stats_spec.rb
Labels: 7.x, backport, elasticsearch-api

#1284 Bumps version
  elasticsearch-api/lib/elasticsearch/api/version.rb
  elasticsearch-transport/lib/elasticsearch/transport/version.rb
  elasticsearch-xpack/lib/elasticsearch/xpack/version.rb
  elasticsearch/elasticsearch.gemspec
  elasticsearch/lib/elasticsearch/version.rb
Labels: 7.x

#1285 [CI] Adds Jenkins job for 7.13
  .ci/jobs/elastic+elasticsearch-ruby+7.13.yml
Labels: CI

#1287 [CI] Updates CI versions
  .ci/test-matrix.yml
  .github/workflows/7.x.yml
Labels: 7.x, CI

#1288 [CLIENT] Adds API compatibility header
  elasticsearch-transport/lib/elasticsearch/transport/client.rb
  elasticsearch-transport/spec/elasticsearch/transport/client_spec.rb
Labels: 7.x, elasticsearch-api

#1289 [CLIENT] Adds API compatibility header
  elasticsearch-transport/lib/elasticsearch/transport/client.rb
  elasticsearch-transport/spec/elasticsearch/transport/client_spec.rb
Labels: 7.x, backport, elasticsearch-transport

#1290 [API] Refactors Test Runner, making it simpler to run
  elasticsearch-api/Rakefile
  elasticsearch-api/spec/rest_yaml_tests_helper.rb
  elasticsearch-xpack/spec/rest_yaml_tests_helper.rb
Labels: 8.0, elasticsearch-api, test-runner

#1292 [XPACK] Skip service_accounts/10_basic.yml test
  elasticsearch-xpack/spec/skipped_tests.yml
Labels: 7.x, elasticsearch-api, xpack-skips

#1293 [XPACK] Skip service_accounts/10_basic.yml test
  elasticsearch-xpack/spec/skipped_tests.yml
Labels: 8.0, elasticsearch-api, xpack-skips

#1297 [XPACK] Skip service_accounts/10_basic.yml test
  elasticsearch-xpack/spec/skipped_tests.yml
Labels: 7.x, elasticsearch-api, test-runner

#1298 [CI] Adds make.sh bump task
  rake_tasks/unified_release_tasks.rake
  rake_tasks/update_version.rake
Labels: CI

#1299 [CI] Adds make.sh bump task
  rake_tasks/unified_release_tasks.rake
  rake_tasks/update_version.rake
Labels: 7.x, CI, backport
