Repository elastic/elasticsearch-ruby, pull requests merged in 2023-09, with the labels that each got.

#2187 [CI] Removes log formatter for RSpec in API
  elasticsearch-api/spec/rspec_formatter.rb
  elasticsearch-api/spec/spec_helper.rb
Labels: CI

#2190 [DOCS] Updates successful guide examples
  docs/examples/guide/0c7c40cd17985c3dd32aeaadbafc4fce.asciidoc
  docs/examples/guide/0eae571e9e1c40a40cb4b1c9530a8987.asciidoc
  docs/examples/guide/13917f7cfb6a382c293275ff71134ec4.asciidoc
  docs/examples/guide/24d66b2ebdf662d8b03e17214e65c825.asciidoc
  docs/examples/guide/29953082744b7a36e437b392a6391c81.asciidoc
  docs/examples/guide/3182f26c61fbe5cf89400804533d5ed2.asciidoc
  docs/examples/guide/3466cdc16374655c73c087fcbeb82ee8.asciidoc
  docs/examples/guide/3e6db3d80439c2c176dbd1bb1296b6cf.asciidoc
  docs/examples/guide/451b441c3311103d0d2bdbab771b26d2.asciidoc
  docs/examples/guide/48d9697a14dfe131325521f48a7adc84.asciidoc
  docs/examples/guide/52bc577a0d0cd42b46f33e0ef5124df8.asciidoc
  docs/examples/guide/5ca2f718f8b01684c983753bd8d92690.asciidoc
  docs/examples/guide/7cc603d7e8373a01eae7bb0d18824632.asciidoc
  docs/examples/guide/a0c64894f14d28b7e0c902add71d2e9a.asciidoc
  docs/examples/guide/a4709da258a667cae4199ec3a1e84b3b.asciidoc
  docs/examples/guide/bdfb86cdfffb9d2ee6e3d399f00a57b0.asciidoc
  docs/examples/guide/c43fd2f25f78e6286fe9a5d08dc31446.asciidoc
  docs/examples/guide/cd976cf523f6352ac3429a410677b768.asciidoc
  docs/examples/guide/cde19d110a58317610033ea3dcb0eb80.asciidoc
  docs/examples/guide/d270e64fcf017a887687fb030b0c1986.asciidoc
  docs/examples/guide/dbf93d02ab86a09929a21232b19709cc.asciidoc
  docs/examples/guide/dfb1ce43b4f96dcb3c8dcc8370aa9965.asciidoc
  docs/examples/guide/e88a057a13e191e4d5faa22edf2ae8ed.asciidoc
  docs/examples/guide/f743225f1abcbc341e991a0e79ea89bc.asciidoc
  docs/examples/guide/ff8317bbd60e9dfc6bf007028a18b531.asciidoc
Labels: documentation

#2196 [API] Reimplement Tests - spatial/70_script_doc_values.yml manually
  elasticsearch-api/spec/platinum/integration/spatial/script_doc_values_spec.rb
  elasticsearch-api/spec/rest_api/skipped_tests_platinum.yml
Labels: elasticsearch-api

#2197 [Backport][8.10][API] Reimplement Tests - spatial/70_script_doc_values.yml manually
  elasticsearch-api/spec/platinum/integration/spatial/script_doc_values_spec.rb
  elasticsearch-api/spec/rest_api/skipped_tests_platinum.yml
Labels: elasticsearch-api, backport

#2200 [DOCS] Fix `welcome-to-elastic` link
  docs/index-custom-title-page.html
Labels: documentation, 8.x

#2210 Fixes instantiating Client in Manticore implementation.
  elasticsearch-transport/lib/elasticsearch/transport/transport/http/manticore.rb
  elasticsearch-transport/spec/elasticsearch/transport/http/manticore_spec.rb
  elasticsearch-transport/test/unit/transport_manticore_test.rb
Labels: backport, 7.17

#2215 [API] Test Runner: Refactors test_file to support new version skip format for tests
  elasticsearch-api/api-spec-testing/test_file.rb
Labels: backport, test-runner, 8.x

#2217 Fixes checking for endpoint opts in ES perform_request
  elasticsearch/lib/elasticsearch.rb
Labels: elasticsearch-gem
